.container-forms{
  justify-content: center;
  align-items: center;
  min-height: 500px;
  max-width: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2{
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 0 0;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 5px 0 0 0;
}

h4{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 5px 0 0 0;
}

p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px 0 0 0;
}

label{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 5px 0 0 0;
}
#repro-apro li {
  list-style-type: none;
}

#myfile {
  padding:10px;
  margin: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.itens-observ {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/*
.form{
  padding: 8px;
  border-radius: 12px;
  background: white;
  width: 100%;
  height: 150px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;    
  flex-direction: column;
}
*/

.item-form{
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  outline: 0;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 12px;
  text-align: center;
}

input{
  padding-left: 15px;
  background-color: #e0dcdc;
}

button{
  cursor: pointer;
  background-color: #45d5ee;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  transition: all.4s;
  &:hover{
    background: #1a9cb3;
  }
}