.main-footer{
  background:#000;
  color:#fff;
}

.main-footer__upper{
  display:flex;
  justify-content:space-between;
  padding:1rem 0
}

@media only screen and (max-width: 56.25em){
  .main-footer__upper{padding:6rem 0}
}

@media only screen and (max-width: 37.5em){
  .main-footer__upper{display:block}
}

.main-footer__row-1{order:2}

@media only screen and (max-width: 56.25em){
  .main-footer__row-1{margin-bottom:5rem}
}

.main-footer__row-2{width:40%;order:1;max-width:50rem}

@media only screen and (max-width: 56.25em){
  .main-footer__row-2{width:100%}
}

.main-footer__short-desc{
  margin-top:2rem;color:#eee;font-size:14px;
  line-height:1.2
}

.main-footer__social-cont{margin-top:2rem}

.main-footer__icon{margin-right:1rem;width:2.5rem}

.main-footer__icon--mr-none{margin-right:0}

.main-footer__lower{
  padding:4rem 0;
  border-top:1px solid #444;color:#eee;
  font-size:0.80rem;text-align:left;text-align:center
}

.main-footer__lower a{text-decoration:underline;font-weight:bold;margin-left:2px}

@media only screen and (max-width: 56.25em){.main-footer__lower{padding:3.5rem 0}}
.main-container{max-width:100rem;margin:auto;width:92%}

.heading-sm{
  font-size:1rem;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size: 20px;
}
